<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ 'MAIL.REGISTER.TITLE'|trans }}</title>
</head>
<body>
<h1>{{ 'MAIL.REGISTER.TITLE'|trans }}</h1>
<p>{{ 'MAIL.REGISTER.INFO'|trans({'%name%': user.getUsername()}) }}</p>
<p>
    {{ 'MAIL.REGISTER.HTML.LINK.INFO'|trans }}
    <a href="{{ url('activate_account', {'token': user.getActivationToken()}) }}">
        {{ 'MAIL.REGISTER.HTML.LINK.LABEL'|trans }}
    </a>
</p>
</body>
</html>