
<nav>
    <ul>
    <li {% if app.request.attributes.get('_route') == 'homepage' %}
            active
            {% endif %}>
        <a href="{{ path('homepage') }}">
            {{ 'NAV.HOME'|trans }}
        </a>

    </li>
    <li>Portfolio</li>
    <li>About me</li>
    <li>Contact</li>
    <li {% if app.request.attributes.get('_route') == 'terms_of_services' %}
    active
            {% endif %}>>
        <a href="{{ path('terms_of_services') }}">
            {{ 'NAV.TERMS'|trans }}
        </a>

    </li>
    <li {% if app.request.attributes.get('_route') == 'app_login' %}
    active
            {% endif %}>>
        <a href="{{ path('app_login') }}">
            {{ 'NAV.LOGIN'|trans }}
        </a>

    </li>
        <li {% if app.request.attributes.get('_route') == 'app_register' %}
        active
                {% endif %}>>
            <a href="{{ path('app_login') }}">
                {{ 'NAV.REGISTER'|trans }}
            </a>

        </li>
    </ul>
</nav>